{% extends 'base.html' %}

{% block title %}|| All Books{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        {% include 'sidebar.html' %}
    </div>
    <div class="col-md-10">
        <div class="container">
            {% if books %}
                <div class="row">
                    {% for book in books %}
                       <div class="col-md-3">
                            <div class="card border-0 m-1">
                                <img src="{{book.image.url}}" alt="" class="card-img-top" style="height:175px;" >
        
                                <div class="card-body p-0">
                                    <h6 class="card-text" style="height:35px">{{book.title}}</h6>
                                    <p class="my-1"> <i class="fa-solid fa-indian-rupee-sign"></i> {{book.price}}</p>
                                    <a href="{% url 'book_details' book.id %}" class="btn btn-sm btn-outline-primary w-100">Details</a>
                                </div>
                            </div>               
                       </div>
                        
                    {% endfor %}
                </div>
            {% else %}
                <h3 class="text-center my-5">No books Available</h3>
            {% endif %}
        
        </div>
    </div>
</div>

{% endblock content %}

